/******************************
GENERAL
******************************/

/* normalize css */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, footer, header, banner, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    font: inherit;
}

img {
    max-width: 100%;
}

/******************************
TEXT
******************************/

h1 {
    margin: 0 0 0.2em;
    padding-top: 0.4em;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.8em;
    color: #555;
}

h2 {
    font-family: Helvetica, "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #2a2a2a;
}

h3 {
    font-size: 1.6em;
    font-family: "Enriqueta", "Courier New", monospace;
    text-indent: 0.65em;
    margin-bottom: 0.2em;
}

h4 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

h5 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #3866aa;
}

h6 {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: #000;
    margin-bottom: 0.2em;
}

p {
    font-family:"Enriqueta", "Courier New", monospace;
    font-size: 1.4em;
}

a {
    color: inherit;
}

ul {
    margin-left: 0.6em;
}



/******************************
BUTTONS
******************************/
.button {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-family: helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.5em;
    padding: 0.3em 0.2em;
    background-color: #3866aa;
}



/******************************
HEADING
******************************/

/* header that includes the banner */
header {
    background-color: #fcf5e7;
}

header a img {
    height: 120px;
}

#nav-button {
    margin: 0.2em;
}

/* banner that includes title and nav menus */
#banner {
    padding: 0 0.2em;
}

#banner a img {
    float:right;
}



/******************************
NAVIGATION

    #mini-nav is the nav menu for window resolutions below 480
    #main-nav is the nav menu for window resolutions above 480
******************************/

#main-nav, #mini-nav {
    display: none;
}

nav {
    background-color: #fdedc1;
    font-size: 1.5em;
    padding-bottom: 0.4em;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
}

nav li {
    padding: 0.4em 0.4em 0 0.4em;
}

nav a {
    display: block;
}



/******************************
mini-nav

    #main-nav is the nav menu for window resolutions above 480
    #mini-nav is the nav menu for window resolutions below 480
******************************/

#mini-nav a.active {
    border-bottom: 3px solid #8d6334;
    margin-bottom: -3px;
}

#mini-nav a:hover {
    border-bottom: 3px solid #544300;
    margin-bottom: -3px;
}



/******************************
PAGES
******************************/

section {
    padding: 0 10px;
}

.page {
    padding: 10px;
}

.page img {
}



/******************************
PAGE: ABOUT
******************************/

#about img {
    max-height: 250px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
}

#about p {
     margin-bottom: 0.2em;
}





/******************************
PAGE: CONTACT ME
******************************/

#contact span {
    color: #3866aa;
}



/******************************
PAGE: HISTORY, PROFESSIONAL, ACADEMIC
******************************/

#milestones {
    margin-top: 10px;
    background-color: #fff;
}

#milestones h6 {
    background-color: #3866aa;
    padding: 0.1em;
    font-size: 1.5em;
}

#milestones p {
    padding: 0.2em;
    font-family:"Enriqueta", "Courier New", monospace;
    font-size: 1.1em;
}

/* adds 30px space between divs on #professional and #academic pages */
#professional div:not(:first-of-type), #academic div:not(:first-of-type) {
    margin-top: 0.6em;
}

#history .professional-button {
    margin-bottom: 0.2em;
}

.professional-button, .academic-button {
    margin-top: 0.2em;
}

#professional div, #academic div, #skills div {
    margin-bottom: 30px;
}



/******************************
PAGE: SKILLS
******************************/

#skills h4 {
     margin-top: 0.2em;
}

#skills p {
     margin-left: 1em;
}



/******************************
PAGE: PORTFOLIO
******************************/

#portfolio div {
    text-align: right;
}



/******************************
FOOTER
******************************/

footer {
    margin: 10px auto 20px;
    padding: 0 5%;
    max-width: 920px;
}

.return-to-top-button {
    background-color: #666;
    margin: 0 auto;
}

#return-to-top-button-div {
    background-color: #999;
    padding: 10px;
}

footer a img {
    float: right;
    margin: 0;
    display: inline;
    height: 25px;
}



/*########################################################################################################################################################################*/
        /****************************************
        Screens with higher resolution than 480px
        ****************************************/
/*########################################################################################################################################################################*/

@media screen and (min-width: 481px) {

  /******************************
  GENERAL
  ******************************/

  /* banner that includes title and nav menus */
  #banner {
      padding: 0 5%;
  }



  /******************************
  TEXT
  ******************************/

  p {
      font-size: 1.1em;
  }

  h3 {
      font-size: 1.9em;
  }



  /******************************
  BUTTONS
  ******************************/

  .button {
      display: block;
      margin-left: auto;
      margin-right: auto;

      font-size: 1em;

      padding: 10px 10px;
      width: 200px;
  }



  /******************************
  NAVIGATION
  ******************************/

  #nav-button {
      display: none;
  }



  /******************************
  main-nav

      #main-nav is the nav menu for window resolutions above 480
      #mini-nav is the nav menu for window resolutions below 480
  ******************************/

  #main-nav {
      font-size: 1em;
      display: block;
      clear: both;
      padding: 0;
      position: relative; /* necessary for drop shadow to be on top of <section> */
      top: 3px;
      z-index: 1;
  }

  #main-nav ul li a:hover {
      background-color: #8d6334;
      color: #fff;
  }

  #main-nav ul li:hover > ul {
      display: block;
  }

  #main-nav ul li {
      display: inline-block;
      margin-right: -4px;
      padding: 0;
      width: 25%;
      text-align: center;
  }

  #main-nav ul li a {
      padding: 7px 4px 4px;
  }

  #main-nav a.active:not(:hover) {
      background-color: #544300;
      color: #fdedc1;
  }

  #main-nav ul ul {
      /*display: none;*/
      position: absolute;
      width: 25%;
      background-color: #fdedc1;
  }

  #main-nav ul ul li {
      display: block;
      width: auto;
      margin: 8px 0 8px;
  }

  #main-nav ul ul li a {
      color: #544300;
  }

  #main-nav ul ul li:hover > a {
      color: #fff;
  }



  /******************************
  PAGES
  ******************************/

  section {
      padding: 0 5%;
  }

  .page {
      min-height: 350px;
      padding: 10px 20px;
      clear: both;
  }



  /******************************
  PAGE: ABOUT
  ******************************/

  #about {
      position: relative;
  }

  #about p {
      text-indent: 1em;
      overflow: hidden
  }



  /******************************
  PAGE: HISTORY, PROFESSIONAL, ACADEMIC
  ******************************/

  #professional div, #academic div {
      overflow: hidden;
  }

  #professional img, #academic img {
      clear: both;
      display: block;
  }



  /******************************
  PAGE: PORTFOLIO
  ******************************/

  #portfolio div {
      overflow: hidden;
      position: relative;
  }

  #portfolio div div:nth-child(2) {
      max-width: 50%;
      position: absolute;
      top: 15%;
      right: 50%;
  }

  #portfolio img {
      max-width: 48%;
      float: right;
      clear: right;
      margin: 0 0 30px;
  }

  #portfolio div:nth-of-type(3) {
      margin-bottom: -30px;
  }



  /******************************
  FOOTER
  ******************************/

  footer p {
    font-size: 0.9em;
  }

  footer a img {
    height: 20px;
    margin: 0 1px;
  }

  #return-to-top-button-div {
    display: none;
  }

} /******** End of @media screen and (min-width: 481px) ********/



/*########################################################################################################################################################################*/
        /*****************************************
        Screens with higher resolution than 701 px
        *****************************************/
/*########################################################################################################################################################################*/

@media screen and (min-width: 701px) {

  /******************************
  HEADING
  ******************************/

  #banner {
      max-width: 920px;
      margin: 0 auto;
  }



  /******************************
  PAGES
  ******************************/

  section {
      max-width: 960px;
      margin: 0 auto;

  }

  /******************************
  PAGE: ABOUT
  ******************************/

  #about img {
      margin-right: 10px;
      float: left;
  }

  .contact-button {
      position: absolute;
      left: 35px;
      top: 320px;
  }



  /******************************
  PAGE: HISTORY, PROFESSIONAL, ACADEMIC
  ******************************/

  #history .button {
      display: inline-block;
      position: relative;
      top: -10px;
  }

  #history .button:first-of-type {
      float: right;
      right: 51%;
  }

  #history .button + .button {
      float: left;
      left: 51%;
  }

  #milestones {
      margin-top: 60px;
  }

  #milestones {
      padding-bottom: 10px;
  }

  #milestones p {
      background-color: #3866aa;
      color: #fff;
      padding: 0 0 3px 10px;
  }

  #milestones p:first-of-type {
      margin: 10px 0 10px 47.5%;
  }

  #milestones p:nth-of-type(2) {
      margin: 10px 0 10px 40%;
  }

  #milestones p:nth-of-type(3) {
      margin: 10px 0 10px 32.5%;
  }

  #milestones p:nth-of-type(4) {
      margin: 10px 0 10px 25%;
  }

  #milestones p:nth-of-type(5) {
      margin: 10px 0 10px 17.5%;
  }

  #milestones p:nth-of-type(6) {
      margin: 10px 0 10px 10%;
  }

  #milestones p:nth-of-type(7) {
      margin: 10px 0 10px 2.5%;
  }

  #professional div div, #academic div div {
      position: relative;
      left: 2%;
      max-width: 58%;
  }

  #professional img, #academic img {
      max-width: 40%;
      float: left;
  }



  /******************************
  PAGE: PORTFOLIO
  ******************************/

  #portfolio div div:nth-child(2) {
      top: 30%;
  }



} /******** End of @media screen and (min-width: 701px) ********/

@media screen and (min-width: 701px) and (max-width: 930px) {
  #milestones p {
      font-size: 1.85vw;
  }
}
