html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* PAGE */
body {
    background: #fff url('../img/memphis-colorful.png'); /* Background pattern from Subtle Patterns */
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* HEADING */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Styles for the Score Panel */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

#stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 20px;
}

#stars li {
    list-style: none;
    display: inline-block;
}

#restart {
    float: right;
    cursor: pointer;
    margin-left: 20px;
}

#timer {
    float: right;
    margin-left: 20px;
}

/* BODY */
#deck {
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
    background: linear-gradient(160deg, #c8eec8 0%, #c8c8ff 100%);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

/* CARDS */
.card {
    width: 21%;
    height: 21%;
    max-width: 125px;
    max-height: 125px;
    background: #28323A;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
    font-size: 0;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.open {
    transform: rotateY(0);
    background: #88f;
    cursor: default;
}

.card.show {
    font-size: 33px;
}

.card.match {
    cursor: default;
    background: #8e8;
    font-size: 33px;
}
